button {
  font-size: 16px;
  background-color: #6772e5 !important;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #5469d4 !important;
}

.cart{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  
}
.item{
  padding: 40px;
  margin-top: 2em;

}
img{
  max-height: 20rem;
}

.buy{
  text-align: center;
  align-items: center;
  margin-top: 1em;
}