button {
  font-size: 16px;
  background-color: #6772e5 !important;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #5469d4 !important;
}

.cart{
  display: block;
  justify-content: center;
  text-align: center;
  align-items: center;
}